In [19]:
import pandas as pd
df = pd.read_csv('../data/raw_baseweights.csv')
df.to_clipboard()
df.head()

  BASE WEIGHTS  year THRU-1
0        START  2022  16.27
1          END  2022  14.73
2       CHANGE  2022   1.54
3        START  2021  17.07
4          END  2021  14.77

In [20]:
# pivot the data frame
pivoted_df = df.pivot(index="year", columns="BASE WEIGHTS", values="THRU-1")

# # rename the columns
# pivoted_df.columns = ["start", "end", "change"]

# reset the index to make the "year" column a regular column
pivoted_df.reset_index(inplace=True)

# # add a new "year" column to match the desired output format
# pivoted_df["year"] = pivoted_df["year"].apply(lambda x: f"{x}-01-01")

# reorder the columns to match the desired output format
# pivoted_df = pivoted_df[["year", "start", "end", "change"]]

# print the pivoted data frame
pivoted_df.to_clipboard()

In [21]:
pivoted_df

BASE WEIGHTS  year CHANGE    END  START
0             2016   3.64  16.20  19.84
1             2017   2.95  16.54  19.49
2             2018   2.35  15.28  17.63
3             2019  2.87Â   14.91  17.78
4             2020   2.01  16.94  18.95
5             2021   2.30  14.77  17.07
6             2022   1.54  14.73  16.27