In [2]:
import pandas as pd
df = pd.read_csv('../data/update1/2023-02-07 16:07:44-08:00---2023-02-20 17:06:38-08:00.csv')
df.head()

,time,human_date,human_time,seconds_delta,latitude,longitude,altitude_feet,distance_feet,speed_mph,altitude_change
0,2023-02-08 14:15:48-08:00,2023-02-08,02:15:48 PM,125,45.575537,-122.128037,121,11.8,0.1,-9.0
1,2023-02-08 14:17:53-08:00,2023-02-08,02:17:53 PM,16,45.575509,-122.128014,112,55.8,2.4,6.0
2,2023-02-08 14:18:09-08:00,2023-02-08,02:18:09 PM,8,45.575361,-122.128069,118,20.7,1.8,3.0
3,2023-02-08 14:18:17-08:00,2023-02-08,02:18:17 PM,4,45.575330,-122.128137,121,14.2,2.4,10.0
4,2023-02-08 14:18:21-08:00,2023-02-08,02:18:21 PM,3,45.575291,-122.128134,131,11.2,2.5,0.0

In [3]:
import sys
df.head().to_clipboard()

In [4]:
miles = round(df['distance_feet'].sum() / 5280, 2)
miles

55.25

In [5]:
tracked_days = len(df['human_date'].unique())
tracked_days

14

In [6]:
elevation =  df['altitude_change'].sum()
elevation

-32.0

In [33]:
grouped = df.groupby('human_date')[['seconds_delta', 'distance_feet']].sum().reset_index()
grouped['minutes_delta'] = grouped['seconds_delta'] / 60
grouped['distance_miles'] = grouped['distance_feet'] / 5280
grouped.drop(['seconds_delta', 'distance_feet'], axis=1, inplace=True)
grouped

    human_date  minutes_delta  distance_miles
0   2023-02-07      68.466667        3.098314
1   2023-02-08     150.433333        5.105720
2   2023-02-09      65.750000        2.975966
3   2023-02-10      71.600000        3.425227
4   2023-02-11      41.466667        2.005966
5   2023-02-12      82.950000        4.057595
6   2023-02-13     228.083333        7.544337
7   2023-02-14      59.083333        2.762576
8   2023-02-15       4.733333        0.263826
9   2023-02-16      85.333333        3.467727
10  2023-02-17     195.700000        8.309186
11  2023-02-18      24.916667        1.090492
12  2023-02-19      60.316667        2.270530
13  2023-02-20     388.883333        8.870246

In [8]:
grouped.to_clipboard()

In [32]:
locs = df[['latitude', 'longitude']]
locs = locs.apply(round, ndigits=1)
lat_lons = []
for lat, lon in zip(locs.latitude.values, locs.longitude.values):
    lat_lons.append(f'{lat}, {lon}')
set(lat_lons)

{'45.27, -121.93',
 '45.27, -121.94',
 '45.28, -121.94',
 '45.29, -121.94',
 '45.3, -121.94',
 '45.31, -121.94',
 '45.5, -122.61',
 '45.5, -122.62',
 '45.5, -122.63',
 '45.51, -122.59',
 '45.51, -122.6',
 '45.51, -122.61',
 '45.51, -122.62',
 '45.51, -122.63',
 '45.52, -122.59',
 '45.52, -122.6',
 '45.57, -122.11',
 '45.57, -122.12',
 '45.57, -122.13',
 '45.58, -122.13',
 '45.61, -121.88',
 '45.61, -121.89',
 '45.61, -123.46',
 '45.61, -123.47',
 '45.61, -123.48',
 '45.62, -121.89',
 '45.62, -121.9',
 '45.62, -123.47',
 '45.62, -123.48',
 '45.62, -123.49',
 '45.62, -123.5',
 '45.63, -121.89',
 '45.63, -121.9',
 '45.63, -121.91',
 '45.63, -121.92',
 '45.63, -123.48',
 '45.63, -123.49',
 '45.63, -123.5',
 '45.64, -121.92'}